APP_NAME="ReservasCanchas"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://reservas-canchas.azurewebsites.net

LOG_CHANNEL=stderr
LOG_LEVEL=error

# --- Cosmos DB (API MongoDB) ---
# Pega aquí tu PRIMARY CONNECTION STRING de Cosmos.
# En Azure NO uses este archivo: configura estas variables en
# App Service -> Variables de entorno.
DB_CONNECTION=mongodb
MONGODB_URI="mongodb://cosmos-reservas:CLAVE@cosmos-reservas.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@cosmos-reservas@"
MONGODB_DATABASE=reservas

# Laravel usa la BD para sesión/cache por defecto; para Cosmos
# es más simple dejar sesión y cache en archivos:
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
